<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=universestaffingblob;AccountKey=ophY8RLnnE2UMtXX3sCFVvzeElXWNp1/DyVJ85AHXaEyceDODOhNGkiCEFW97ixHO8SrfO7mwSQQiyWld6y2Mg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>